<!DOCTYPE html>
<html>
<head>
	<title>Homebrewing Central</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto+Condensed&family=Roboto+Slab&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/185f907fc6.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="/assest/home.css">
</head>
<body>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/calculations">Calculations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/recipes">Recipes</a>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col-3" id="title">
      <h1>Homebrewing Central</h1>
      <h5>Explore our list of Homebrewing recipes, and add on your own. Plus there are built-in calculators to take all of the thinking out of your brewing.</h5>
      <a class="btn btn-info" href="/recipes">Explore<i class="fas fa-beer"></i></a>
    </div>
    <div class="col-6" id="beer">
      <img src="/assest/beer-glasses.jpg" alt="Beer Glasses" id="beer-glasses">
    </div>
  </div>
</div>
<form method="get" action="/login">
  <button type="submit">Log In</button>
</form>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>