<!DOCTYPE html>
<html>
<head>
	<title>Recipes</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class=" col-6 offset-3">
		<h1>Recipes</h1>
	</div>
</div>
<ul>
	<% for (let recipe of recipes){%>
		<li><%= recipe.name %><span>ABV:<%= recipe.ABV %></span><a href="/recipes/<%= recipe._id %>" class="btn btn-primary">View Receipe</li>
	<%}%>
</ul>
</body>
</html>