body{
	background-color: #cfcfcf;
	font-family: 'IBM Plex Sans', sans-serif;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    text-align: center;
}

html{
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav-link{
	width: 300px;
	text-align: center;
	color: #363636 !important;
}

.nav{
	background-color: #cfcfcf !important;
	color: #363636 !important;
	border: none !important;
	position: sticky;
}

.active{
	background-color: #e6e6e6 !important;
	border: none !important;
}

#original-grv{
	display: inline-block;
}

span{
	display: inline-block;
}
