body{
	background-color: #FEFDEC;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #0d3b66;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html{
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav-link{
	width: 300px;
	text-align: center;
	color: #363636 !important;
	border-radius: 10px;
}

.nav{
	background-color:  #FEFDEC !important;
	color: #363636 !important;
	border: none !important;
	position: sticky;
}

.active{
	background-color: #FDEAC4 !important;
	border: none !important;
	border-radius: 10px;
}

#beer-glasses{
	height: 550px;
	width: 400px;
	margin-left: 300px;
	margin-top: 60px;
	border-radius: 10px;
}

#beer{

}

#title{
	margin-top: 200px;
	margin-left: 100px;
}

#title h1{
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
}

#title h5{
	font-size: 20px;
	margin-top: 20px;
}

.btn-info{
	background-color: transparent;
	margin-top: 30px;
	margin-left: 50px;
	width: 150px;
	color: #0d3b66;
	border-radius: 20px;
}

i{
	margin-left: 10px;
}