body{
	background-color: #FEFDEC;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #0d3b66;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html{
	margin: 0;
	padding: 0;
	height: 100%;
}

.nav-link{
	width: 300px;
	text-align: center;
	color: #363636 !important;
	border-radius: 10px;
}

.nav{
	background-color:  #FEFDEC !important;
	color: #363636 !important;
	border: none !important;
	position: sticky;
}

.active{
	background-color: #FDEAC4 !important;
	border: none !important;
	border-radius: 10px;
}

#header{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 50px;
	background-color: #88B7D3;
	color: #e3e3e3;
	height: 300px;
	padding-top: 50px;
	font-family: 'Roboto Slab', serif;
	border-radius: 5px;
}

#header h1{
	font-size: 70px !important;
	color: #FEFDEC;
}

#header h4{
	padding-left: 200px;
	padding-right: 200px;
}

#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #b0b0b0
	margin-bottom: 100px;
}

.card{
	width: 300px;
	display: flex;
	text-align: center;
	margin: 60px 10px;
	border-radius: 10px;
	background-color: #FEFDEC;
	border: 3px solid #BACADE;
	color: #283B53;
}

.card-title{
	color: #B17806;
}

#body{
	margin: 25px 0;
}

.btn-primary{
	background-color: #5B9DC2;
	border: 1px solid #283B53;
	color: #FEFDEC !important;
}

.btn-primary:hover{
	background-color: #283B53;
	border: 1px solid #283B53;
}

#new{
	color: #FEFDEC !important;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 15%;
}

#show-header{
	text-align: center;
	background-color: #262626;
	color: #dbdbdb;
}

#show-header h2{
	font-size: 50px;
	color: white;
	padding-top: 20px;
}

#show-header h5{
	font-size: 30px;
	color: white;
	padding-bottom: 40px;
	padding-top: 20px;
}

#ABV{
	font-size: 20px;
	color: grey;
}

#row{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#recipe-recipe{
	text-align: center;
	margin: 50px 200px;
}

#recipe-review{
	text-align: center;
	margin: 50px 200px;
}

.edit{
	background-color: #2c2b70;
	color: white;
	border: 1px solid #2c2b70;
	margin-right: 75px;
	color: #dbdbdb;
}

.edit:hover{
	background-color: #1c1b47;
	border: 1px solid #1c1b47;
	color: #dbdbdb;
}

.btn-danger{
	color: #dbdbdb !important;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #dbdbdb
}

#back-home{
	display: block;
	width: 15%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: #dbdbdb;
}

#make-new-recipe{
	display: flex;
	justify-content: center;
	color: #dbdbdb !important;
}

.edit-form input{
	border: none;
}
'.edit-form input{
	border: none;
}

